/*#region buttons */
.btn {
    border: 0;
    color: #ffffff;
    background: linear-gradient(45deg, #3ac5c8 1%, #0b509e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ac5c8', endColorstr='#0b509e', GradientType=1);
}
/*#endregion */


/* Global styles */
body {
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* Banner styles */
.banner {
    border: 0;
    color: #ffffff;
    background: radial-gradient(circle, rgba(14, 196, 160, 1) 0%, rgba(58, 197, 200, 1) 100%);
    padding: 80px;
    margin-bottom: 40px;
}

    .banner h1 {
        font-weight: 900;
        margin-bottom: 50px;
    }

/* Content Search styles */
.content-search {
    background-color: rgba(255, 255, 255, 0.3);
    max-width: 800px;
    padding: 20px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

    .content-search .input-group .icon {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 19;
        width: 50px;
        height: 46px;
    }

        .content-search .input-group .icon svg {
            width: 16px;
            height: 16px;
            margin: 13px auto;
            display: block;
        }

        .content-search .input-group .icon::after {
            content: '';
            background: #d9e7ec;
            position: absolute;
            right: 0;
            height: 46px;
            width: 1px;
            top: 0;
        }

    .content-search .input-group .form-control {
        padding-left: 70px;
        height: 46px;
        border-radius: 0;
        border: 0;
    }

    .content-search .input-group .input-group-btn .btn {
        height: 46px;
        border-radius: 0;
        border: 0;
        background: linear-gradient(45deg, #3ac5c8 1%, #0b509e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ac5c8', endColorstr='#0b509e', GradientType=1);
        padding: 0 35px;
    }

/* Body Content styles */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel styles */
.carousel {
    border: 1px solid #e1e1e1;
}

.carousel-inner .carousel-item {
    min-height: 500px;
}

.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-inner .carousel-item img[src$=".svg"] {
    width: 100%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(100%);
}

/* Input group button alignment */
.input-group-btn {
    vertical-align: top;
}

/* Content table styles */
.content-table {
    margin-top: 20px;
}

    .content-table .name input,
    content-table .value input {
        width: 100%;
        border: 0;
    }

/* Spinner animation styles */
.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    right: 46px;
    margin: -25px 0 0 -25px;
    width: 25px;
    height: 50px;
}

    .spinner .path {
        stroke: #ffffff;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
